@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
}

.heroSection {
  background: #029f58;
  background-image: url(../images//heroBackground.png);
  height: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
}
.nav_menu {
  display: none;
}
.nav-links {
  display: flex;
  gap: 3.5rem;
}
ul {
  list-style-type: none;
}
ul > li {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.heroContent {
  text-align: center;
  color: #fff;
  padding-top: 4rem;
}
.heroContent > h1 {
  font-size: 130px;
  font-weight: 700;
  line-height: 1;
}
.heroContent > p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding: 2rem 20rem;
}
.storeBtn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.storeBtn > img:nth-of-type(2) {
  margin-left: 2rem;
}
.phoneSection {
  position: relative;
  display: grid;
  place-items: center;
}
.leftPhone,
.rightPhone {
  position: absolute;
  bottom: -0.3%;
}
.verticalPhone {
  z-index: 2;
  margin-right: 10rem;
}
.leftPhone {
  right: 23%;
}
.rightPhone {
  left: 15%;
}
/* About Section */
.aboutSection {
  background: #fafafa;
  background-image: url(../images/noise.png);
  padding-bottom: 4rem;
}
.aboutRow {
  display: flex;
}
.aboutCol {
  flex: 50%;
}
.aboutDesc {
  position: relative;
}
.aboutDesc > img {
  margin-left: 1rem;
  margin-top: 2rem;
}
.aboutHeading {
  padding-left: 5rem;
  position: absolute;
  top: 55%;
}
.aboutHeading > h2 {
  color: #007640;
  font-weight: 500;
  font-size: 72px;
  line-height: 1.1;
}
.aboutHeading > p {
  padding-top: 2rem;
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
}
.aboutBubble {
  position: relative;
  left: 17%;
}
/* Connect section */
.connectSection {
  display: flex;
  margin-top: 8rem;
}
.connectSection_col {
  flex: 50%;
}
.connectDetails {
  padding-left: 5rem;
}
.connectDetails > p:nth-of-type(2) {
  padding-top: 2rem;
  padding-right: 8rem;
  line-height: 1.8;
  font-size: 20px;
}
.connectDetails > h2 {
  font-size: 68px;
  font-weight: 500;
  padding-right: 5rem;
  line-height: 1;
}
.connectFans {
  background: #ffbb62;
  width: fit-content;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
.connectImg {
  position: relative;
  left: 20%;
  bottom: 15%;
}
.chatSection {
  display: flex;
  -webkit-box-shadow: 0px -5px 30px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px -5px 30px rgba(50, 50, 50, 0.5);
  box-shadow: 0px -5px 30px rgba(50, 50, 50, 0.5);
}
.chatSection_col {
  flex: 50%;
}
.chatDetails_Bckgrnd {
  background: #007640;
  background-image: url(../images/noise.png);
  color: #fff;
  padding-top: 3rem;
  padding-left: 5rem;
}
.chatDetails_img {
  background-image: url(../images/noise.png);
}
.chatIcon_section {
  padding-top: 15rem;
  position: relative;
}
.chatIcon_section > p {
  background-color: #ffbb62;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  position: absolute;
  top: 40%;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
}
.chatIcon_section > img {
  position: absolute;
  right: 25%;
  top: 30%;
}
.chatSection_heading {
  font-size: 68px;
  font-weight: 500;
  line-height: 1.1;
}
.chatSection_subHeading {
  font-size: 20px;
  font-weight: 500;
  padding-top: 2rem;
  padding-right: 7rem;
  padding-bottom: 12rem;
}
.chat_container {
  background: #f0f0e6;
  background-image: url(../images/noise.png);
  position: relative;
}

.chat_topFan {
  display: block;
  margin: 0 auto;
  width: 500px;
}
.chat1,
.chat2,
.chat3,
.chatMsg {
  position: absolute;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.chat1 {
  width: 380px;
  border-bottom-left-radius: 15px;
  top: 20%;
  left: 30%;
}
.chat2,
.chat3 {
  border-bottom-right-radius: 15px;
  left: 12%;
}
.chat2 {
  top: 45%;
}
.chat3 {
  top: 63%;
}
.chatMsg {
  left: 12%;
  bottom: 0%;
}
/* Influencer */
.influencer_row {
  display: flex;
  position: relative;
}
.influencer_col {
  flex: 50%;
  position: relative;
}
.influencer_heading {
  font-size: 68px;
  font-weight: 500;
  line-height: 68.75px;
  padding-right: 10rem;
}
.influencer_subHeading {
  font-size: 20px;
  font-weight: 400;
  padding-right: 13rem;
  margin-top: 3rem;
}
.influencer_tag {
  background: #ff8c62;
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin-bottom: 3.5rem;
}

.influencer_phone {
  position: relative;
  left: 10%;
  margin-top: 4rem;
}
.influencer_details {
  padding-top: 8rem;
}
/* Influencer row 2 */
.influencer_row_2 {
  display: flex;
  -webkit-box-shadow: 0px -5px 30px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px -5px 30px rgba(50, 50, 50, 0.5);
  box-shadow: 10px -5px 30px rgba(50, 50, 50, 0.5);
}
.influencer_col_2 {
  flex: 50%;
}
.influencer_right,
.infleuncer_left {
  background-image: url(../images/noise.png);
}
.influencer_right {
  background: #202020;
}
.influencer_left {
  background: #272727;
}
.influencer_left > img {
  display: grid;
  place-items: center;
  margin-left: 2rem;
}
.influencer_content {
  display: grid;
  place-items: center;
  padding: 2rem 6rem;
}
.influencer_content > h2 {
  font-size: 68px;
  font-weight: 500;
  color: #fff;
  line-height: 68.75px;
  padding-top: 3rem;
}
.influencer_content > p {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  line-height: 30px;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.influencer_filter_sec {
  position: relative;
  margin-top: 10rem;
}
.influencer_filter_sec > p {
  background: #ff8c62;
  width: fit-content;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 15%;
}
.influencer_filter_sec > img {
  position: absolute;
  right: 15%;
}

/* Assurance */
.assurance_section {
  position: relative;
}
.assurance_row {
  display: flex;
}
.assurance_col {
  flex: 50%;
}
.assurance_phone {
  width: 100%;
}
.assuranceHeading {
  padding-left: 5rem;
  padding-right: 56rem;
  padding-top: 10rem;
  line-height: 68.75px;
  font-size: 68px;
  font-weight: 500;
  color: #007640;
}

.assurance_features {
  position: absolute;
  top: 28%;
  left: 10%;
}
.assurance_phone {
  position: relative;
  top: 12%;
  right: 20%;
  z-index: -1;
}
.assurance_download {
  position: relative;
  top: -140px;
  display: block;
  margin: 0 auto;
}

.assuarance_divider {
  max-width: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  border-top: 1px solid #e5e5e5;
  position: relative;
}
/* footer */
.footer_subscribe {
  padding-left: 22rem;
}
.footer_input {
  margin-bottom: 2rem;
}
.footer_input > input {
  margin-top: 1rem;
  border: 1px solid #e5e5e5;
  outline-width: 0;
  width: 70%;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.footer_input > button {
  background-color: #121212;
  padding: 1rem;
  color: #fff;
  width: 20%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  right: 1%;
  font-size: 16px;
}
.footer_subscribe_heading {
  font-size: 30px;
  font-weight: 400;
}
.footer_subscribe_heading > span {
  font-weight: 700;
}
.footer_details {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.footer_details_col {
  flex-direction: column;
  flex: 20%;
}
.footer_list > li {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer_logo_container {
  padding-left: 5rem;
  padding-right: 5.5rem;
}
.footerLogo > img {
  margin-bottom: 1rem;
}
.footer_icons {
  display: flex;
  gap: 2rem;
}

/* Phones   */
@media only screen and (max-width: 600px) {
  nav {
    padding: 2rem 2rem;
  }
  .nav-links {
    display: none;
  }
  .nav_menu {
    display: inline;
    width: 50px;
    position: relative;
    top: 1%;
    left: 2%;
  }
  .heroContent {
    text-align: justify;
    padding-top: 0rem;
  }
  .heroContent > h1 {
    font-size: 3rem;
    padding: 2rem 2rem;
  }
  .heroContent > p {
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
  }
  .storeBtn {
    flex-wrap: wrap;
  }
  .storeBtn > img:nth-of-type(2) {
    padding-top: 2rem;
    margin-left: 0;
  }
  .phoneSection > img {
    width: 60vw;
  }
  .rightPhone {
    left: 32%;
  }
  .leftPhone {
    right: 39%;
  }
  .verticalPhone {
    margin-right: 3rem;
  }
  .aboutRow {
    display: inline;
  }
  .aboutCol {
    flex: 100%;
  }
  .aboutHeading {
    position: static;
    padding: 0rem 2rem;
  }
  .aboutDesc > img {
    display: block;
    margin: 0 auto;
  }

  .aboutHeading > h2 {
    position: static;
    font-size: 3.5rem;
  }
  .aboutBubble {
    display: none;
  }
  .connectSection {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .connectSection_col {
    flex: 100%;
  }
  .connectDetails {
    padding-left: 0;
  }
  .connectDetails > p:nth-of-type(2) {
    padding-right: 0;
  }

  .connectImg {
    position: static;
    display: block;
    margin: 1rem auto;
    width: 60vw;
  }
  .connectDetails > h2 {
    font-size: 3.5rem;
    font-weight: 500;
    padding: 2rem 2rem;
    line-height: 1;
  }
  .connectDetails > p:nth-of-type(2) {
    padding: 1rem 2rem;
  }
  .connectFans {
    margin-bottom: 0rem;
    margin-left: 3rem;
  }
  .chatSection {
    flex-direction: column;
  }
  .chatIcon_section {
    padding-top: 5rem;
    position: relative;
  }
  .chatIcon_section > img {
    right: 2%;
  }
  .chatSection_col {
    flex: 100%;
  }
  .chatDetails_Bckgrnd {
    padding: 1rem 2rem;
  }
  .chatSection_heading {
    font-size: 3.5rem;
    padding-top: 2rem;
  }
  .chatSection_subHeading {
    padding-top: 2rem;
    padding-right: 0rem;
    padding-bottom: 3rem;
  }

  .chat_topFan,
  .chat1,
  .chat2,
  .chat3,
  .chatMsg {
    position: static;
    width: 80vw;
    display: block;
    margin: 1rem auto;
  }

  .influencer_row {
    display: flex;
    flex-direction: column;
  }
  .influencer_col {
    flex: 100%;
  }
  .influencer_phone {
    position: static;
    display: block;
    margin: 1rem auto;
    width: 60vw;
  }
  .influencer_tag {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
  .influencer_details {
    padding-top: 0rem;
  }
  .influencer_heading {
    font-size: 3.5rem;
    padding: 2rem 2rem 0rem;
  }
  .influencer_subHeading {
    padding: 1.5rem 2rem;
    margin-top: 0rem;
  }
  .influencer_row_2 {
    display: flex;
    flex-direction: column;
  }
  .influencer_col_2 {
    flex: 100%;
  }
  .influencer_left > img {
    width: 80vw;
  }
  .influencer_content {
    padding: 2rem 2rem;
  }
  .influencer_content > h2 {
    font-size: 3.5rem;
  }
  .influencer_filter_sec {
    position: relative;
    margin-top: 2rem;
  }
  .influencer_filter_sec > p {
    position: absolute;
    top: 10%;
    left: 9%;
  }
  .assurance_row {
    flex-direction: column;
  }
  .assuranceHeading {
    font-size: 3.5rem;
    padding: 2rem 2rem;
  }
  .assurance_col {
    flex: 100%;
  }
  .assurance_features {
    position: static;
    display: block;
    margin: 0 auto;
    width: 80vw;
  }
  .assurance_phone {
    width: 80vw;
    margin: 0 auto;
    right: 0;
  }
  .assurance_download {
    width: 80vw;
    top: -122px;
  }
  .footer_subscribe {
    padding: 1rem 2rem;
  }
  .footer_input {
    display: flex;
    flex-direction: column;
  }
  .footer_input > input {
    width: 80vw;
  }
  .footer_input > button {
    width: 80vw;
    right: 0;
    margin-top: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .footer_logo_container {
    padding-left: 2rem;
  }
  .footer_details {
    flex-direction: column;
  }
  .footer_details_col {
    padding-top: 1rem;
    padding-left: 2rem;
  }
}

/* Tablets responsiveness*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  nav {
    padding-left: 3rem;
  }
  .nav-links {
    display: none;
  }

  .nav_menu {
    display: inline;
    width: 50px;
    position: relative;
    top: 1%;
    left: 2%;
  }
  .heroContent {
    text-align: justify;
    padding-top: 0rem;
  }
  .heroContent > h1 {
    font-size: 5.5rem;
    padding: 2rem 3rem;
  }
  .heroContent > p {
    padding: 0.5rem 3rem;
  }
  .storeBtn {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .storeBtn > img:nth-of-type(2) {
    padding-top: 0rem;
    margin-left: 0;
  }
  .phoneSection > img {
    width: 70vw;
  }
  .rightPhone {
    left: 27%;
  }
  .leftPhone {
    right: 35%;
  }
  .verticalPhone {
    margin-right: 8rem;
  }
  .aboutRow {
    display: inline;
  }
  .aboutCol {
    flex: 100%;
  }
  .aboutHeading {
    position: static;
    padding: 0rem 3rem;
  }
  .aboutDesc > img {
    display: block;
    margin: 0 auto;
  }

  .aboutHeading > h2 {
    position: static;
    font-size: 4rem;
  }
  .aboutBubble {
    display: none;
  }
  .connectSection {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .connectSection_col {
    flex: 100%;
  }
  .connectDetails {
    padding-left: 0;
  }
  .connectDetails > p:nth-of-type(2) {
    padding-right: 0;
  }

  .connectImg {
    position: static;
    display: block;
    margin: 2rem auto;
  }
  .connectDetails > h2 {
    font-size: 4rem;
    font-weight: 500;
    padding: 2rem 3rem;
    line-height: 1;
  }
  .connectDetails > p:nth-of-type(2) {
    padding: 1rem 3rem;
  }
  .connectFans {
    margin-bottom: 0rem;
    margin-left: 3rem;
  }
  .chatSection {
    flex-direction: column;
  }
  .chatIcon_section {
    padding-top: 5rem;
    position: relative;
  }
  .chatIcon_section > img {
    right: 2%;
  }
  .chatSection_col {
    flex: 100%;
  }
  .chatDetails_Bckgrnd {
    padding: 1rem 3rem;
  }
  .chatSection_heading {
    font-size: 3.5rem;
    padding-top: 2rem;
  }
  .chatSection_subHeading {
    padding-top: 2rem;
    padding-right: 0rem;
    padding-bottom: 3rem;
  }

  .chat_topFan,
  .chat1,
  .chat2,
  .chat3,
  .chatMsg {
    position: static;
    display: block;
    margin: 1rem auto;
  }

  .influencer_row {
    display: flex;
    flex-direction: column;
  }
  .influencer_col {
    flex: 100%;
  }
  .influencer_phone {
    position: static;
    display: block;
    margin: 1rem auto;
    width: 50vw;
  }
  .influencer_tag {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
  .influencer_details {
    padding-top: 0rem;
  }
  .influencer_heading {
    font-size: 4rem;
    padding: 2rem 3rem 0rem;
  }
  .influencer_subHeading {
    padding: 1rem 3rem;
    margin-top: 0rem;
  }
  .influencer_row_2 {
    display: flex;
    flex-direction: column;
  }
  .influencer_col_2 {
    flex: 100%;
  }
  .influencer_left > img {
    display: block;
    margin: 0 auto;
    width: 50vw;
  }
  .influencer_content {
    padding: 2rem 3rem;
  }
  .influencer_filter_sec {
    position: relative;
    margin-top: 2rem;
  }
  .assurance_row {
    flex-direction: column;
  }
  .assuranceHeading {
    font-size: 4rem;
    padding: 2rem 3rem;
  }
  .assurance_col {
    flex: 100%;
  }
  .assurance_features {
    position: static;
    display: block;
    margin: 0 auto;
    width: 50vw;
  }
  .assurance_phone {
    width: 80vw;
    margin: 0 auto;
    right: 0;
  }
  .assurance_download {
    width: 80vw;
  }
  .footer_subscribe {
    padding: 2rem 3rem;
  }
  .footer_input {
    display: flex;
    flex-direction: column;
  }
  .footer_input > input {
    width: 80vw;
  }
  .footer_input > button {
    width: 80vw;
    right: 0;
    margin-top: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .footer_logo_container {
    padding-left: 3rem;
    padding-right: 0rem;
  }
  .footer_details {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer_details_col {
    flex: 30%;
    padding-top: 1rem;
    padding-left: 3rem;
  }
}
